@import "../../scss/utility.scss";

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background: rgba($light-black, 0.75);
}

.modal {
	position: fixed;
	top: 20vh;
	left: 5%;
	width: 90%;
	background: $dark-white;
	padding: rem(16);
	border-radius: rem(14);
	box-shadow: 0 2px 8px rgba($black, 0.25);
	z-index: 30;
	animation: slide-down 300ms ease-out forwards;

	@media (min-width: 768px) {
		width: 40rem;
		left: calc(50% - 20rem);
	}
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
